{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Anvil",
            "type": "swift",
            "request": "launch",
            "program": "${workspaceFolder}/dist/debug/Anvil.app/Contents/MacOS/Anvil",
            "args": [],
            "cwd": "${workspaceFolder}",
            "preLaunchTask": "Anvil: Build Debug App"
        }
    ]
}
